{% extends 'basic.html' %} 
{% block title %} Blog{% endblock title %}

{% block body %} 
{% load static %}
<section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Visit My Blogs</h2>
         
        </div>

        <div class="row">



          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">

            <div class="col-lg-4" data-aos="fade-right">
            <img src="static/assets/img/b1.png" class="img-fluid" alt="no-image" >
          </div>
          <br>

            <div class="icon"><i class="bi bi-card-text"></i></div>
            <h4 class="social-links title"><a href="https://www.linkedin.com/pulse/how-choose-right-visualization-your-data-prasanth-nalluri/"  target="_blank" rel="noopener noreferrer">How to choose right visualization for your data</a></h4>

            <p class="description"></p>
            <h6>Posted By : <b> Nalluri Prasanth</b></h6>
            <p>Posted on : <b> August 28, 2022</b></p>
          </div>



         
         
        </div>
        

      </div>
    </section><!-- End Services Section -->
{% endblock body %}

